html{
    font-size: 100%;
    box-sizing: border-box;

}

body{
    margin: 0%;
    padding: 0%;

    //width: 100%;
    
    box-sizing: border-box;

    //background-image: linear-gradient(to top, #a1c4fd 0%, #c2e9fb 100%);

    background-color: #060d20;
    
    
    font-family: 'JetBrains Mono', monospace;

    .grad-head{

        font-family: 'Raleway' , sans-serif;

        font-size: 1.3rem;
    

        color: transparent;
        
        background:-webkit-linear-gradient(
            -70deg
            ,#a2facf,#64acff);
        -webkit-background-clip: text ;
        -webkit-box-decoration-break: clone;

    }
}

.header{
    display: flex;
    align-items:center;
    position: fixed;
    z-index: 2; 
    background-color: #1f2839;
    height: 7vh;
    width: 100vw;
    color: black;
    font-size:small;

    .myname{
        margin-left: 2vw;
        
        img{
            height: 2rem;
            //width: rem;
            
            
        }
    }

    .name{
        position: absolute;
        margin-left: 12%;
        color: white;
        font-size: 1rem;
        
    }
    #contactme{
        color: white;
        position: absolute;
        z-index: 3;
        justify-content: space-evenly;
        display: flex;
        align-items: flex-end;
        width: 9rem;
        font-size: 1rem;
        padding: 0.5%;
        right: 5vw;
        text-decoration: underline;
        cursor: pointer;
        
        img{
            height: 20px;
            width: 20px;
        }   
    }
}

.firstpage{
    display: flex;
    //flex-direction: column;
    height: fit-content;
    width: 100%;

    h1{

        position: absolute;
        margin-top: 15%;
        margin-left: 10%;
        
        
        border: 2px solid  #060d20 ;

        color: transparent;
        

    }
    
    &_mytext{
        position: absolute;
        background-color: #0d162b;
        color: white;

        border:0.1px solid rgba(253, 245, 230, 0.2);
        border-radius: 5px;
    
        position: absolute;
        transform: translate(-20%, 0%);
        opacity: 0;

        transition: 0.7s transform ease-in-out , .7s opacity ease-in-out;
        
        margin-top: 20%;
        left: 5%;
        right: 5%;
        //top: 20vh;
        
        
        font-size: 1rem;
        padding: 10px;
        padding-left: 15px;
        
        line-height: 2.2;

        font-weight:200;
        
        max-width: 50ch;

        &_image{
            
            display: none;
            height: 70px;
            width: 70px;
        }

    }
    
    .animation{
        height: 100%;
        width: 100%;
        margin-left : 20vw;
        margin-top: 5vh;
    }
}

.robotics{

    
    background-color: #0d162b;

    
    
    //height:70vh;
    width:100vw;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    

    .animation{
        
        margin-right: 40%;
        margin-top: 5%;
        

    }

    h1{
        
        margin-top: 5%;
        margin-left: 30vw;
        border: 2px solid #0d162b;
    }

    .es{

        transform : translate(30%,0%);
        transition: .7s transform ease-in-out , .5s opacity ease-in-out;

        opacity: 0;
        //transition: .5s opacity ease-in-out;

        span{
            color : #50ac79;
        }

        border:0.1px solid rgba(253, 245, 230, 0.2);
        border-radius: 5px;

        background : #060d20 ;
        color: white;

        margin-left: 30vw;
        margin-right: 5%;
        
        font-size: 1rem;
        padding: 10px;
        padding-left: 15px;
        
        line-height: 2.2;

        font-weight:200;
        
        max-width: 50ch;

    }
    

}

.logos{

    
    background-color:#060d20;
    
    
    height:fit-content;

    
    .text{
        border:0.1px solid rgba(253, 245, 230, 0.2);
        border-radius: 5px;

        background : #0d162b;
        color: white;

        span{
            color : #50ac79;
        }
    
        position: absolute;
        transform: translate(-20%,20%);
        opacity: 0;

        transition: .7s opacity ease-in-out , .7s transform ease-in-out ;

        left: 10%;
        margin-top: 6%;
        
        font-size: 1rem;
        padding: 10px;
        padding-left: 15px;
        
        line-height: 2.2;

        font-weight:200;
        
        max-width: 50ch;
    }
    
   
    .animation{
        margin-left: 10%;
        margin-right: 10%;

        
    }
    h1{

        position: absolute;
        transform: translate(0%,0%);
        left: 10%;
        margin-top: 5%;
        
    }

    
}

.projects{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
    
    
    background-color: #0D162B;

    color: white;

    h1{
        align-self: center;
        font-size: 1.3vw;
        font-weight: 500;
        color: white;
        
    }
    

    img{
        height: 30px;
        
        
        transition: height .5s ease-in-out;
        font-style: oblique;
    }
    .project{
        
        width: 30rem;
        margin-bottom: 10px;
       
        padding: 1.5rem;
        border-radius: 15px;

        clip-path: circle(7% at 8% 18%);
        transition: clip-path 1s ease-in-out;
        &:hover{
            clip-path: circle(100%);
            
            img{
                height: 60px;
            }
        }
    }

    .animation{
        //position: absolute;

        display: none;
        
        
        
    }

    #Sysid{
        background-color: #c06318 ;
        margin-left: 35%;
        
    }

    #androidproject{
        background-color: #3DDC84 ;
        margin-left: 50vw;
        
    }

    #pythonproject{
        background-color: #33b2e4 ;
        margin-left: 35%;
        
    }

    

    
}
.draganddrop{
    
    background-color: #060d20;
    position: relative;
    
    height: 70vh;
    width: 100vw;
    
    display: flex;
    
    flex-direction: column;
    align-items: center;

    
    

    .rules{
        
        margin-top:2vh;
        color: white;
        
    }
    
    .image{
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 40%;
        background-image: url("pngs/bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size:contain;
        height: 10rem;
        width: 20rem;

        .holdersl{
            position: absolute;
            height: 25px;
            
            width: 25px;
            top: 41.5%;

            border: 1px solid red;
            border-radius: 50%;

            .arrows{
                height: 25px;
                width: 25px;
                
            }

            cursor: pointer;
            
            
        }
        .holdersr{
            position: absolute;
            height: 25px;
            
            width: 25px;
            top: 41.5%;

            border: 1px solid red;
            border-radius: 50%;

            .arrows{
                height: 25px;
                width: 25px;
                
            }

            cursor: pointer;
            
            
        }

        .holdersm{
            position: absolute;
            height: 25px;
            
            width: 25px;
            top: 41.5%;

            border: 1px solid red;
            border-radius: 50%;

            .arrows{
                height: 25px;
                width: 25px;
                
            }

            cursor: pointer;
            
        }

        #left1{
            
            left: 86.9%;
        }
        #left2{
            
            left: 76.5%;
        }
        #left3{
            
            left: 66.2%;
        }

        #left4{
            
            left: 55.9%;
        }

        #right1{
            left : 5%;
        }

        #right2{
            left: 15.2%;
        }
        #right3{
            left: 25.4%;
        }
        #right4{
            left: 35.6%;
        }

        #mid{
            left: 45.8%;
        }

        


        #resetbut{
            position: absolute;
            font-size:larger;
            
            font-weight: 600;
            
            width: 45px;
            
            
            
            color:sienna;
            left: 17%;
            top: 7%;

            cursor: pointer;

        }

        #dropzone2{
            position: absolute;
            transform: translate(100%, -50%);
            left: 54.8%;
            top: 50%;
        }

        #dropzone1{
            position: absolute;
            transform: translate(49.5%, -50%);
            left: -0%;
            top: 50%;
        }
        
        .dropzone{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px ;
            border: 3px dashed black;
            border-radius: 50%;
        }
    
        .dropzone:hover{
            opacity: 0.5;
        }
        #d1{
            width: 50%;
            height: 50%;
            background:black;
            z-index: 10;
            cursor: move;
        }
    
    }
    .sm{
        display: flex;
        flex-direction: column;
        
        position: absolute;
        left: 5%;
        bottom: 15%;
        
        justify-content: space-evenly;
        box-shadow: drop (1px 2px 2px);
        
        height: 20%;
        
        z-index: 2;
        
        
    }
    #linkedin{

        
        
        height: 40px;
        width: 40px;
        


        
    }

    #github{
        
        height: 40px;
        width: 40px;
        
        margin-bottom: 40%;

        
    }

    .footer{
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        background-color: rgb(26, 20, 20);
        height: 12%;
        width: 100%;
        bottom: 0;
        color: darkgray;
        font-size:small;
        
    }

    .hint{
        margin-top:9rem;
        color: white;
    }
    
}




@media screen and (max-width : 1000px ){

    .header{
        .name{
            font-size: 0.5rem;
        }

        #contactme{
            font-size: 0.5rem;
        }
    }

    .firstpage{

        h1{
            margin-top: 30%;
            font-size: 1rem;
            
        }
        &_mytext{
            
            font-size: 0.7rem;
            max-width: 80ch;
            margin-top: 60%;

            img{
                height: 40px;
                width: 40px;
            }
        }
        .animation{
            margin-top: 6vh;
            margin-bottom: 40vh;
        }
    } 
    .projects{
        h1{
            font-size: 3vw;
        }
        img{
            margin-left: -5%;
            margin-top: 1%;
        }
        
        #Sysid{

            
            
            margin-left: 5%;
            
            width: 30ch;
            
            
            
        }

        #androidproject{
            
            margin-left: 5%;

            
            
            width: 30ch;
            
            
        }
        #pythonproject{

            img{
                margin-left: -5%;
                margin-top: 5%;
            }
            
            margin-left: 5%;
            width: 30ch;
            
            
        }

    }

    .logos{

        position: relative;
        align-items: center;
        .animation{
            position: relative;
            
            
        }

        h1{
            position: relative;
            left: 20%;
            right: 20%;
            
            transform: translate(0%,0%);
            padding-bottom: 2%;
        }
        .text{
            left: 20%;
            right: 20%;
            position: relative;
            margin-top: 0%;
            
            font-size: 0.7rem;
        }
    }

    .robotics{
        
        h1{
            margin-left: 20%;
            margin-right: 20%;
        }
        .es{
            font-size: 0.7rem;
            margin-left: 10%;
            margin-right: 20%;
        }
        .animation{
            
            margin-left: 10%;
            margin-right: 10%;
        }
    }
    


}