html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #060d20;
  font-family: 'JetBrains Mono', monospace;
}

body .grad-head {
  font-family: 'Raleway' , sans-serif;
  font-size: 1.3rem;
  color: transparent;
  background: -webkit-linear-gradient(-70deg, #a2facf, #64acff);
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 2;
  background-color: #1f2839;
  height: 7vh;
  width: 100vw;
  color: black;
  font-size: small;
}

.header .myname {
  margin-left: 2vw;
}

.header .myname img {
  height: 2rem;
}

.header .name {
  position: absolute;
  margin-left: 12%;
  color: white;
  font-size: 1rem;
}

.header #contactme {
  color: white;
  position: absolute;
  z-index: 3;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 9rem;
  font-size: 1rem;
  padding: 0.5%;
  right: 5vw;
  text-decoration: underline;
  cursor: pointer;
}

.header #contactme img {
  height: 20px;
  width: 20px;
}

.firstpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.firstpage h1 {
  position: absolute;
  margin-top: 15%;
  margin-left: 10%;
  border: 2px solid  #060d20;
  color: transparent;
}

.firstpage_mytext {
  position: absolute;
  background-color: #0d162b;
  color: white;
  border: 0.1px solid rgba(253, 245, 230, 0.2);
  border-radius: 5px;
  position: absolute;
  -webkit-transform: translate(-20%, 0%);
          transform: translate(-20%, 0%);
  opacity: 0;
  -webkit-transition: .7s transform ease-in-out , .7s opacity ease-in-out;
  transition: .7s transform ease-in-out , .7s opacity ease-in-out;
  margin-top: 20%;
  left: 5%;
  font-size: 1rem;
  padding: 10px;
  padding-left: 15px;
  line-height: 2.2;
  font-weight: 200;
  max-width: 50ch;
}

.firstpage_mytext span {
  color: #50ac79;
}

.firstpage_mytext_image {
  display: none;
  height: 70px;
  width: 70px;
}

.firstpage .animation {
  height: 100%;
  width: 100%;
  margin-left: 20vw;
  margin-top: 5vh;
}

.robotics {
  background-color: #0d162b;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.robotics .animation {
  margin-right: 40%;
  margin-top: 5%;
}

.robotics h1 {
  margin-top: 5%;
  margin-left: 30vw;
  border: 2px solid #0d162b;
}

.robotics .es {
  -webkit-transform: translate(30%, 0%);
          transform: translate(30%, 0%);
  -webkit-transition: .7s transform ease-in-out , .5s opacity ease-in-out;
  transition: .7s transform ease-in-out , .5s opacity ease-in-out;
  opacity: 0;
  border: 0.1px solid rgba(253, 245, 230, 0.2);
  border-radius: 5px;
  background: #060d20;
  color: white;
  margin-left: 30vw;
  margin-right: 5%;
  font-size: 1rem;
  padding: 10px;
  padding-left: 15px;
  line-height: 2.2;
  font-weight: 200;
  max-width: 50ch;
}

.robotics .es span {
  color: #50ac79;
}

.logos {
  background-color: #060d20;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.logos .text {
  border: 0.1px solid rgba(253, 245, 230, 0.2);
  border-radius: 5px;
  background: #0d162b;
  color: white;
  position: absolute;
  -webkit-transform: translate(0%, 50%);
          transform: translate(0%, 50%);
  left: 10%;
  margin-top: 6%;
  font-size: 0.9vw;
  padding: 10px;
  padding-left: 15px;
  line-height: 2.2;
  font-weight: 200;
  max-width: 50ch;
}

.logos .text span {
  color: #50ac79;
}

.logos .animation {
  margin-left: 30%;
  margin-right: 20%;
}

.logos h1 {
  position: absolute;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  left: 10%;
  margin-top: 5%;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0D162B;
  color: white;
}

.projects h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.3vw;
  font-weight: 500;
  color: white;
}

.projects img {
  height: 30px;
  -webkit-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
  font-style: oblique;
}

.projects .project {
  width: 30rem;
  margin-bottom: 10px;
  padding: 1.5rem;
  border-radius: 15px;
  -webkit-clip-path: circle(7% at 8% 18%);
          clip-path: circle(7% at 8% 18%);
  -webkit-transition: -webkit-clip-path 1s ease-in-out;
  transition: -webkit-clip-path 1s ease-in-out;
  transition: clip-path 1s ease-in-out;
  transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;
}

.projects .project:hover {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.projects .project:hover img {
  height: 60px;
}

.projects .animation {
  display: none;
}

.projects #Sysid {
  background-color: #c06318;
  margin-left: 35%;
}

.projects #androidproject {
  background-color: #3DDC84;
  margin-left: 50vw;
}

.projects #pythonproject {
  background-color: #33b2e4;
  margin-left: 35%;
}

.draganddrop {
  background-color: #1f2839;
  position: relative;
  height: 70vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.draganddrop .rules {
  margin-top: 2vh;
  color: white;
}

.draganddrop .image {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 40%;
  background-image: url("pngs/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 10rem;
  width: 20rem;
}

.draganddrop .image .holdersl {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 41.5%;
  border: 1px solid red;
  border-radius: 50%;
  cursor: pointer;
}

.draganddrop .image .holdersl .arrows {
  height: 25px;
  width: 25px;
}

.draganddrop .image .holdersr {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 41.5%;
  border: 1px solid red;
  border-radius: 50%;
  cursor: pointer;
}

.draganddrop .image .holdersr .arrows {
  height: 25px;
  width: 25px;
}

.draganddrop .image .holdersm {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 41.5%;
  border: 1px solid red;
  border-radius: 50%;
  cursor: pointer;
}

.draganddrop .image .holdersm .arrows {
  height: 25px;
  width: 25px;
}

.draganddrop .image #left1 {
  left: 86.9%;
}

.draganddrop .image #left2 {
  left: 76.5%;
}

.draganddrop .image #left3 {
  left: 66.2%;
}

.draganddrop .image #left4 {
  left: 55.9%;
}

.draganddrop .image #right1 {
  left: 5%;
}

.draganddrop .image #right2 {
  left: 15.2%;
}

.draganddrop .image #right3 {
  left: 25.4%;
}

.draganddrop .image #right4 {
  left: 35.6%;
}

.draganddrop .image #mid {
  left: 45.8%;
}

.draganddrop .image #resetbut {
  position: absolute;
  font-size: larger;
  font-weight: 600;
  width: 45px;
  color: sienna;
  left: 17%;
  top: 7%;
  cursor: pointer;
}

.draganddrop .image #dropzone2 {
  position: absolute;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  left: 54.8%;
  top: 50%;
}

.draganddrop .image #dropzone1 {
  position: absolute;
  -webkit-transform: translate(49.5%, -50%);
          transform: translate(49.5%, -50%);
  left: -0%;
  top: 50%;
}

.draganddrop .image .dropzone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  border: 3px dashed black;
  border-radius: 50%;
}

.draganddrop .image .dropzone:hover {
  opacity: 0.5;
}

.draganddrop .image #d1 {
  width: 50%;
  height: 50%;
  background: black;
  z-index: 10;
  cursor: move;
}

.draganddrop .sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 5%;
  bottom: 15%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: drop 1px 2px 2px;
          box-shadow: drop 1px 2px 2px;
  height: 20%;
  z-index: 2;
}

.draganddrop #linkedin {
  height: 40px;
  width: 40px;
}

.draganddrop #github {
  height: 40px;
  width: 40px;
  margin-bottom: 40%;
}

.draganddrop .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1a1414;
  height: 12%;
  width: 100%;
  bottom: 0;
  color: darkgray;
  font-size: small;
}

.draganddrop .hint {
  margin-top: 9rem;
  color: white;
}

@media screen and (max-width: 1000px) {
  .header .name {
    font-size: 0.5rem;
  }
  .header #contactme {
    font-size: 0.5rem;
  }
  .firstpage h1 {
    margin-top: 30%;
    font-size: 1rem;
  }
  .firstpage_mytext {
    font-size: 0.7rem;
    max-width: 80ch;
    margin-top: 60%;
  }
  .firstpage_mytext img {
    height: 40px;
    width: 40px;
  }
  .firstpage .animation {
    margin-top: 6vh;
    margin-bottom: 40vh;
  }
  .projects h1 {
    font-size: 3vw;
  }
  .projects img {
    margin-left: -5%;
    margin-top: 1%;
  }
  .projects #Sysid {
    margin-left: 5%;
    width: 30ch;
  }
  .projects #androidproject {
    margin-left: 5%;
    width: 30ch;
  }
  .projects #pythonproject {
    margin-left: 5%;
    width: 30ch;
  }
  .projects #pythonproject img {
    margin-left: -5%;
    margin-top: 5%;
  }
  .robotics .animation {
    margin-left: 10%;
    margin-right: 10%;
  }
}
/*# sourceMappingURL=mystyle.css.map */