html{
    font-size: 100%;
    box-sizing: border-box;

}

body{
    margin: 0%;
    padding: 0%;
    
    box-sizing: border-box;

    background-image: linear-gradient(to top, #a1c4fd 0%, #c2e9fb 100%);
    
    
    font-family: 'Raleway' , sans-serif;

    
}

.separator{
    background-color: wheat;
    display: flex;
    position: absolute;
    width: 60%;
    height: 0.4px;
    justify-self: center;
    margin-left: 20%;
    margin-bottom: 10%;
    opacity: 0.1;
    align-self: flex-end;
    z-index: 3;

    border: 0.5px solid wheat;
}
.header{

    
    
    display: flex;
    align-items:center;
    position: fixed;
    z-index: 2;
    
    
    background-color: #1f2839;
    
    height: 7vh;
    
    width: 100%;
    
    color: black;
    font-size:small;

    
    
    .myname{

        
        

        margin-left: 3%;
        
        
        img{
            height: 2rem;
            width: rem;
            
            
        }
        

    }
    .name{
        position: absolute;
        
        margin-left: 10%;
        color: white;
        
    }
    #contactme{
        color: white;
        position: absolute;
        z-index: 3;
        justify-content: space-evenly;
        display: flex;
        align-items: flex-end;
        width: 9rem;

        
        
        
        font-size: 1rem;
       
        padding: 0.5%;
        left: 70%;

        text-decoration: underline;
        cursor: pointer;
        
        img{
            height: 20px;
            width: 20px;
            
            
        }
        
    }

    
}

.firstpage{

    
    height: 100vh;
    width: 100vw;;

    display: flex;

    position: relative;

    


    .animation{
        position: absolute;
        justify-self: flex-start;
        margin-left: 11%;
        margin-top: 3%;
        
    
    }

    &_mytext{
        
        

        position: absolute;

        left: 10%;
        
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;

        font-size: 1.5vw;
        

        align-items: center;

        h1{
            font-weight:600;
            
        }

        p{
            font-weight:200;
            
            
            text-indent: 2rem;
            max-width: 40ch;
        }


        &_image{
            display: flex;
            
            height: 100px;
            width: 100px;
            
            
        }

    }
    
}




.robotics{

    
    background-color: #1f2839;

    
    
    height:60vh;
    width:100vw;


    display: flex;
    
    align-items: center;

    

    .animation{
        
        
        position: absolute;

        margin-right: 50% ;
        margin-left: -20% ;

        align-self: flex-end;

    }

    .es{

        position: absolute;
        
        font-size: 1.5rem;
        font-weight: 100;
        //font-style: italic;
        color: #FFFFFF;

        right: 10%;
        
        
        width: 40ch;

        font-size: 1.5vw;

        text-indent: 2rem;

    }
    

}

.logos{

    
    background-color: #1f2839;
    
    
    height:60vh;
    width:100vw;
    
    position: relative;

    display: flex;
    align-items: center;

    

    .animation{
        position: absolute;

        margin-left: 30% ;
        margin-right: 10% ;

        align-self: flex-end;
    }

    h1{
        
        font-size: 2rem;
        font-weight: 500;
    }


    .text{
        position: absolute;
        
        font-size: 1.5rem;
        font-weight: 100;
        
        color: #FFFFFF;

        left: 10%;
        top: 10%;
       
        
        

        text-indent: 2rem;

    }


    
}

.draganddrop{
    
    background-color: #1f2839;
    position: relative;
    
    height: 70vh;
    width: 100vw;
    
    display: flex;
    
    flex-direction: column;
    align-items: center;
    

    .rules{
        
        margin-top:2rem;
        color: white;
        
    }
    
    .image{
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        background-image: url("pngs/bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size:contain;
        height: 10rem;
        width: 20rem;

        .holdersl{
            position: absolute;
            height: 25px;
            
            width: 25px;
            top: 41.5%;

            border: 1px solid red;
            border-radius: 50%;

            .arrows{
                height: 25px;
                width: 25px;
                
            }

            cursor: pointer;
            
            
        }
        .holdersr{
            position: absolute;
            height: 25px;
            
            width: 25px;
            top: 41.5%;

            border: 1px solid red;
            border-radius: 50%;

            .arrows{
                height: 25px;
                width: 25px;
                
            }

            cursor: pointer;
            
            
        }

        .holdersm{
            position: absolute;
            height: 25px;
            
            width: 25px;
            top: 41.5%;

            border: 1px solid red;
            border-radius: 50%;

            .arrows{
                height: 25px;
                width: 25px;
                
            }

            cursor: pointer;
            
        }

        #left1{
            
            left: 86.9%;
        }
        #left2{
            
            left: 76.5%;
        }
        #left3{
            
            left: 66.2%;
        }

        #left4{
            
            left: 55.9%;
        }

        #right1{
            left : 5%;
        }

        #right2{
            left: 15.2%;
        }
        #right3{
            left: 25.4%;
        }
        #right4{
            left: 35.6%;
        }

        #mid{
            left: 45.8%;
        }

        


        #resetbut{
            position: absolute;
            font-size:larger;
            
            font-weight: 600;
            background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
            width: 45px;
            
            -webkit-background-clip: text;
            
            color: rgba(250, 250, 250,0);
            left: 17%;
            top: 7%;

            cursor: pointer;

        }

        #dropzone2{
            position: absolute;
            transform: translate(100%, -50%);
            left: 54.8%;
            top: 50%;
        }

        #dropzone1{
            position: absolute;
            transform: translate(49.5%, -50%);
            left: -0%;
            top: 50%;
        }
        
        .dropzone{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px ;
            border: 3px dashed black;
            border-radius: 50%;
        }
    
        .dropzone:hover{
            opacity: 0.5;
        }
        #d1{
            width: 50%;
            height: 50%;
            background:black;
            z-index: 10;
            cursor: move;
        }
    
    }
    .sm{
        display: flex;
        flex-direction: column;
        
        position: absolute;
        left: 5%;
        bottom: 15%;
        
        justify-content: space-evenly;
        box-shadow: drop (1px 2px 2px);
        
        height: 20%;
        
        z-index: 2;
        
        
    }
    #linkedin{

        
        
        height: 40px;
        width: 40px;
        


        
    }

    #github{
        
        height: 40px;
        width: 40px;
        
        margin-bottom: 40%;

        
    }

    .footer{
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        background-color: rgb(26, 20, 20);
        height: 15%;
        width: 100%;
        bottom: 0;
        color: darkgray;
        font-size:small;
        
    }
    
}


.projects{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
    //height: 100vh;
    
    background-color: #1f2839;

    color: white;

    h1{
        align-self: center;
        font-size: 1.5rem;
        font-weight: 500;
        color: white;
        
    }
    

    img{
        height: 30px;
        
        
        transition: height .5s ease-in-out;
        font-style: oblique;
    }
    .project{
        
        width: 30rem;
        
       
        padding: 1.5rem;
        border-radius: 15px;

        clip-path: circle(7% at 8% 17%);
        transition: clip-path .5s ease-in-out;
        &:hover{
            clip-path: circle(100%);
            
            img{
                height: 60px;
            }
        }
    }

    .animation{
        position: absolute;
        
    }

    #Sysid{
        background-color: #c06318 ;
        margin-left: 35%;
        
    }

    #androidproject{
        background-color: #3DDC84 ;
        margin-left: 60%;
        
    }

    #pythonproject{
        background-color: #33b2e4 ;
        margin-left: 35%;
        
    }

    

    
}

@media screen and (max-width : 1000px ){

    .firstpage{
        &_mytext{
            position: absolute;
            margin-top: 20%;
            margin-left: 5%;
            justify-self: center;
            font-size: 2.6vw;
        }
        .animation{
            margin-top: 6%;
        }
    } 
    .projects{
        #Sysid{

            
            
            margin-left: 5%;
            
            
        }

        #androidproject{
            
            margin-left: 5%;
            
        }
        #pythonproject{
            
            margin-left: 5%;
            
        }

    }

    .logos{
        .animation{
            margin-left: 10%;
            margin-right: 0%;
        }
    }

    .robotics{
        .es{
            left: 15%;
            font-size: 2.6vw;
            
        }
    }
    


}